/* 
* @Author: JB Stoker
* @Date:   2016-01-20
* @Last Modified by:   JB Stoker
* @Last Modified time: 2016-01-20
*/
/* Summernote.JS css  */
.panel-body p
{
  padding:20px 10px 10px 0px;
}
.panel-default>.panel-heading {
    color: #333333;
    background-color: #eef1f6;
    border-color: #dddddd;
}
.note-editor .panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.note-dialog .note-help-dialog .modal-close {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.note-dialog .note-help-dialog .note-shortcut-title {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}

.note-dialog .note-help-dialog .text-center {
    margin: 10px 0 0;
    display:none;
}

.note-dialog .note-help-dialog {
    font-size: 12px;
    color: #ffffff;
    background: transparent;
    background-color: #2b2b2b !important;
    border: 0;
    -webkit-opacity: .9;
    -khtml-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    -ms-filter: alpha(opacity=90);
    filter: alpha(opacity=90);
}

.note-editor .note-editing-area .note-codable {
    display: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-family: Menlo,Monaco,monospace,sans-serif;
    font-size: 14px;
    color: #ccc;
    background-color: #2b2b2b;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}



/* End Summernote */
