/* 
* @Author: JB Stoker
* @Date:   2016-02-11
* @Last Modified by:   JB Stoker
* @Last Modified time: 2016-04-21 17:25:59
*/
/* Language selection and Flags */
#setlang li{
	display:block;
	padding:5px;
  opacity: 0.4;
}

#setlang li.active{
  opacity: 1;
}

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 5em;
}
.flag-icon:before {
  content: "\00a0";
}

.flag-icon-be {
  background-image: url(/images/flags/be.svg);
}
.flag-icon-de {
  background-image: url(/images/flags/de.svg);
}
.flag-icon-fr {
  background-image: url(/images/flags/fr.svg);
}
.flag-icon-frl {
  background-image: url(/images/flags/frl.svg);
}
.flag-icon-gb {
  background-image: url(/images/flags/gb.svg);
}
.flag-icon-nl {
  background-image: url(/images/flags/nl.svg);
}
.flag-icon-us {
  background-image: url(/images/flags/us.svg);
}
