<div class="cd-tabs">
    <nav>
        <ul class="cd-tabs-navigation">
            <li><a data-content="global" class="selected" href="#0"><svg class="icon-setting-gear"><use xlink:href="fonts/icons.svg#icon-setting-gear"></use></svg><span class="cd-tab-text">{{{__ 'Global'}}}<span/></a></li>
            <li><a data-content="storage" href="#0"><svg class="icon-database-setting"><use xlink:href="/fonts/icons.svg#icon-database-setting"></use></svg><span class="cd-tab-text">{{{__ 'Storage'}}}<span/></a></li>
        </ul> <!-- cd-tabs-navigation -->
    </nav>

    <ul class="cd-tabs-content">
        <li data-content="global" class="selected">
           <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            ................
            </div>
           </div>
        </li>
        <li data-content="storage">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            ................
            </div>
           </div>
        </li>
    </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->